* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #151515;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1250px;
  margin: 0 auto;
}

.top-wrapper {
  width: 110%;
  height: 80%;
  display: flex;
  justify-content: space-around;
}

p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
}

h1 {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: normal;
  line-height: 69px;
  font-size: 48px;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 32px;
}

a {
  transition: 0.15s;
}

.color-accent {
  color: #ebb82c;
}

/* ---------------------------- */
/* ---------- NAVBAR ---------- */
/* ---------------------------- */
#navbar {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 40px;
  background-color: #151515;
}

#navbar .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  flex-wrap: nowrap;
  font-size: 20px;
  text-decoration: none;
  color: white;
  margin-right: 15px;
}

.navbar-main {
  display: flex;
}

.navbar-link {
  text-decoration: none;
  color: white;
}

.navbar-link:hover {
  color: #ebb82c;
}

.navbar-link + .navbar-link {
  margin-left: 60px;
}

/* -------------------------- */
/* ---------- MAIN ---------- */
/* -------------------------- */
#main {
  position: relative;
  width: 100%;
  height: 750px;
}

#main .wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.headshot-wrapper {
  background-image: url("../img/moji.png");
  border-radius: 5%;
  background-size: cover;
  display: flex;
  align-self: center;
  margin-top: 40px;
  width: 300px;
  height: 300px;
}

#main-background {
  z-index: 0;
  opacity: 0.1;
  position: absolute;
  /* background-image: url("../img/background.jpg"); */
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.background-contact {
  background-color: white;
  position: absolute;
  color: white;
  margin-top: 150px;
  margin-left: 150px;
  height: 50px;
  min-width: 500px;
}

#main-content {
  min-width: 60%;
  font-size: 10px;
}

#main-content p {
  margin: 20px 0;
  font-style: italic;
  color: white;
  max-width: 500px;
}

#say-hello {
  font-size: 20px;
  color: white;
}

#say-hello a {
  color: white;
}

#say-hello a:hover {
  color: #ebb82c;
}

/* Animations */
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper span {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper span.is-visible {
  position: relative;
}

.cd-headline.slide > span {
  display: inline-block;
}

.cd-headline.slide .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.slide .cd-words-wrapper span {
  opacity: 0;
  top: 0.2em;
}

.cd-headline.slide .cd-words-wrapper span.is-visible {
  top: 0;
  opacity: 1;
  -webkit-animation: slide-in 0.6s;
  -moz-animation: slide-in 0.6s;
  animation: slide-in 0.6s;
}

.cd-headline.slide .cd-words-wrapper span.is-hidden {
  -webkit-animation: slide-out 0.6s;
  -moz-animation: slide-out 0.6s;
  animation: slide-out 0.6s;
}

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateY(120%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
}
@-moz-keyframes slide-out {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
  60% {
    opacity: 0;
    -moz-transform: translateY(120%);
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(100%);
  }
}
@keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
    transform: translateY(120%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}

/* 
ANIMATE EMOJI
 */

/* --------------------------- */
/* ---------- ABOUT ---------- */
/* --------------------------- */
#about {
  background-color: white;
}

#about-top {
  font-size: 25px;
  padding: 40px 0;
  width: 100%;
}

.org-logo {
  display: block;
  max-width: 230px;
  max-height: 100px;
  margin: 20px 0px;
  width: auto;
  height: auto;
}

#contact-bar {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-color: #e5e5e5;
}

#about-bottom {
  height: 80px;
  width: 100%;
  background-color: #e5e5e5;
}

#about-top .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about h2 {
  color: #222;
}

#about p {
  color: #222;
  max-width: 625px;
}

#about p {
  margin-top: 20px;
}

#about-bottom .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-bottom a {
  color: #222;
}

#about-bottom a:hover {
  color: #ebb82c;
}

#about-bottom a + a {
  margin-left: 20px;
}

#about-bottom i {
  font-size: 25px;
}

/* -------------------------- */
/* ---------- WORK ---------- */
/* -------------------------- */

#projects_top {
  padding: 50px 0;
}

.project-section {
  padding-top: 50px;
}

.project-section h2 {
  color: #ebb82c;
}

.project-section-items {
  display: flex;
  flex-direction: column;
}

.project-section-item {
  cursor: pointer;
  min-height: 400px;
  width: calc(100% -70px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  transition: 0.1s;
  background-color: black;
  margin-bottom: 100px;
  border-radius: 2%;
}

.project-section-item:hover {
  cursor: pointer;
}

.project-section-item:hover
  > .project-section-item-text
  > .project-section-item-title {
  color: #ebb82c;
}

.project-section-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0% 1%;
  max-width: 50%;
  height: auto;
  min-height: 500px;
  max-height: 500px;
  background-color: black;
  border-radius: 0%;
}

.project-section-item img {
  height: 100%;
  min-width: 50%;
}

.project-section-item-title {
  transition: 0.1s;
  font-size: 30px;
  color: white;
  width: max-content;
  padding-top: 20%;
}

.project-section-item-location {
  font-size: 16px;
  color: white;
  opacity: 0.5;
  text-align: center;
}

.project-section-item-description {
  transition: 0.1s;
  font-size: 20px;
  color: white;
  width: 90%;
  margin-bottom: 5px;
}

.project-section-item-buttons {
  margin-top: 2%;
  margin: 10% 5%;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.project-section-item-button {
  color: white;
  font-size: 40px;
  text-decoration: none;
}

.project-section-item-button:hover {
  color: #ebb82c;
}

.skills-section-items {
  display: flex;
  padding: 0 20px;
  width: calc(100% - 40px);
}

.skills-section-item {
  display: flex;
  flex-direction: column;
}

.skills-section-item + .skills-section-item {
  margin-left: 75px;
}

.skills-section-item-title {
  font-size: 18px;
  color: white;
  opacity: 0.5;
  margin: 10px 0 5px 0;
}

.skills-section-item-skills {
  font-size: 18px;
  color: white;
  line-height: 26px;
}

.footer {
  padding-top: 25px;
}

#footer .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#footer a {
  color: #222;
}

#footer a:hover {
  color: #ebb82c;
}

#footer-copyright {
  margin-top: 20px;
  color: #222;
  opacity: 0.7;
  font-size: 18px;
}

#contact-wrapper {
  margin: 20px 0 0 0px;
}

.contact-element {
  margin-bottom: 10px;
}

/* PROJECT IMAGES */
.project-section-image {
  position: sticky;
  object-fit: scale-down;
  padding-right: 1px;
  height: 250px;
  max-width: 500px;
  min-width: 300px;
  max-height: 500px;
  margin: 2% 0%;
  object-fit: cover;
  padding-left: 30px;
  height: 50%;
}

.zoom {
  transition: transform 0.2s; /* Animation */
}

.zoom:hover {
  transform: scale(
    1.2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
