.var-highlight {
  color: #c0ad60;
}

.string-highlight {
  color: rgba(253, 149, 90, 0.8);
}

#typewriter {
  font-size: 0.9em;
  margin: 0;
  font-family: "Courier New";
  color: gold;
}

#typewriter:after {
  content: "|";
  -webkit-animation: blink 500ms linear infinite alternate;
  animation: blink 500ms linear infinite alternate;
}

@media all and (min-width: 351px) and (max-width: 620px) {
  /* put your css styles in here */
  #typewriter {
    font-size: 0.6em;
  }
}

@media all and (min-width: 0px) and (max-width: 350px) {
  /* put your css styles in here */
  #typewriter {
    font-size: 0.4em;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
